fastapi
uvicorn
pydantic
pydantic[email]
pydantic_settings
sqlalchemy
asyncpg
alembic
passlib
python-jose
jinja2
python-multipart
fastapi-cache2[redis]
celery
flower
pillow
sqladmin
itsdangerous
pytest
pytest-asyncio
httpx
black
isort
autoflake
flake8
pyright
python-json-logger
sentry-sdk[fastapi]
fastapi-versioning
gunicorn