<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking service</title>
</head>
<body>
    {% for hotel in hotels %}
        <div style="display: flex; margin-bottom: 20px; margin-left: 200px;">
            <img src="{{ url_for('static', path='images/' + hotel.image_id|string + '.webp')}}"
            alt="Фото отеля" width="200" style="margin-right: 30px;">
            <div>
                <h1>{{ hotel.name }}</h1>
                <p>{{ hotel.description }}</p>
                <p>{{ hotel.location }}</p>
            </div>
        </div>
    {% endfor %}
</body>
</html>